@import "tailwindcss";

/* use .dark class to toggle dark mode */
@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-gray-50 text-gray-900;
}
.dark body {
    @apply bg-gray-900 text-gray-100;
}

@layer components {
    .input {
        @apply w-full px-4 py-2.5 rounded-xl border border-gray-300 dark:border-gray-700
         bg-white/70 dark:bg-gray-800/70 backdrop-blur
         text-gray-900 dark:text-gray-100 shadow
         focus:outline-none focus:ring-2 focus:ring-blue-500
         transition-all duration-200;
    }
    .select {
        @apply w-full px-3 py-2.5 rounded-xl border border-gray-300 dark:border-gray-700
           bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100
           shadow-sm focus:outline-none
           focus:ring-2 focus:ring-blue-500 focus:border-blue-500
           transition-all duration-200;
    }
    .card {
        @apply bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100;
    }
    .muted {
        @apply text-gray-500 dark:text-gray-400;
    }
    .btn-primary {
        @apply bg-blue-600 hover:bg-blue-700 text-white rounded px-4 py-2;
    }
    .btn-outline {
        @apply bg-white border text-gray-700 dark:bg-gray-800 dark:text-gray-100 dark:border-gray-700 rounded px-4 py-2;
    }

    .modal-panel {
        @apply relative bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded-lg shadow-lg w-full max-w-md mx-4 p-4;
    }

    .chip {
        @apply px-2 py-0.5 text-xs rounded-full bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-100;
    }
}
